body {
	font-family: "Courier", sans-serif;
	font-size: small;
}

h1 {
	text-align: center;
}


h2 {
	font-size: large;
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

h3, p {
	font-size: medium;
	color: black;
	font-weight: bold;
}

p {
	margin-left:5em;
}

h4, h5, h6 {
	padding-left: 5%;
	padding-right: 5%;
}


#ital {
	text-align: center;
	font-style: italic;
}

