h1 {
	font-size: x-large;
	color: black;
	text-align: center;
}

.section {
	font-size: large;
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.title {
	font-size: medium;
	color: black;
	font-weight: bold;
}
