body {
	background-repeat:repeat;
	background-image: url("/Users/sbrown/github/running-dogs/assets/omfgdogs.gif");
}

#link2real {
	font-size: x-large;
	color: white;
	position:absolute;
	bottom:0;
	right:0;
}